
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
 <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>mPurpose - Multipurpose Feature Rich Bootstrap Template</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="~/bookshop/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/bookshop/css/icomoon-social.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="~/bookshop/css/leaflet.css" />
	<!--[if lte IE 8]>
		<link rel="stylesheet" href="css/leaflet.ie.css" />
	<![endif]-->
	<link rel="stylesheet" href="~/bookshop/css/main.css">

	<script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body>
	<!--[if lt IE 7]>
		<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
	<![endif]-->
	<!-- Navigation & Logo-->
	

	<!-- Page Title -->
	<div class="section section-breadcrumbs">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>Tüm Kategoriler</h1>
				</div>
			</div>
		</div>
	</div>

	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					
					<div class="shop-item">
						
						<div class="title">
							<h3>KATEGORİ1</h3>
						</div>
						<!-- Product Available Colors-->
						<div class="colors">
							<span class="color-white"></span>
							<span class="color-black"></span>
							<span class="color-blue"></span>
							<span class="color-orange"></span>
							<span class="color-green"></span>
						</div>
						<!-- Product Price-->
						<div class="price">
							<span class="price-was">$959.99</span> $999.99
						</div>
						<!-- Product Description-->
						<div class="description">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mattis, nulla id pretium malesuada, dui est laoreet risus, ac rhoncus eros diam id odio.</p>
						</div>
						<!-- Add to Cart Button -->
						<div class="actions">
							<a href="page-product-details.html" class="btn"><i class="icon-shopping-cart icon-white"></i> Add to Cart</a>
						</div>
					</div>
					<!-- End Product -->
				</div>
				<div class="col-sm-4">
					<div class="shop-item">
						<div class="image">
							<a href="page-product-details.html"><img src="img/product2.jpg" alt="Item Name"></a>
						</div>
						<div class="title">
							<h3><a href="page-product-details.html">Lorem ipsum dolor</a></h3>
						</div>
						<div class="colors">
							<span class="color-white"></span>
							<span class="color-black"></span>
						</div>
						<div class="price">
							$999.99
						</div>
						<div class="description">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mattis, nulla id pretium malesuada, dui est laoreet risus, ac rhoncus eros diam id odio.</p>
						</div>
						<div class="actions">
							<a href="page-product-details.html" class="btn"><i class="icon-shopping-cart icon-white"></i> Add to Cart</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="shop-item">
						<div class="image">
							<a href="page-product-details.html"><img src="img/product3.jpg" alt="Item Name"></a>
						</div>
						<div class="title">
							<h3><a href="page-product-details.html">Lorem ipsum dolor</a></h3>
						</div>
						<div class="colors">
							<span class="color-white"></span>
							<span class="color-black"></span>
							<span class="color-blue"></span>
						</div>
						<div class="price">
							$999.99
						</div>
						<div class="description">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mattis, nulla id pretium malesuada, dui est laoreet risus, ac rhoncus eros diam id odio.</p>
						</div>
						<div class="actions">
							<a href="page-product-details.html" class="btn"><i class="icon-shopping-cart icon-white"></i> Add to Cart</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<div class="shop-item">
						<div class="image">
							<a href="page-product-details.html"><img src="img/product4.jpg" alt="Item Name"></a>
						</div>
						<div class="title">
							<h3><a href="page-product-details.html">Lorem ipsum dolor</a></h3>
						</div>
						<div class="colors">
							<span class="color-white"></span>
							<span class="color-black"></span>
							<span class="color-blue"></span>
						</div>
						<div class="price">
							$999.99
						</div>
						<div class="description">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mattis, nulla id pretium malesuada, dui est laoreet risus, ac rhoncus eros diam id odio.</p>
						</div>
						<div class="actions">
							<a href="page-product-details.html" class="btn"><i class="icon-shopping-cart icon-white"></i> Add to Cart</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="shop-item">
						<div class="image">
							<a href="page-product-details.html"><img src="img/product5.jpg" alt="Item Name"></a>
						</div>
						<div class="title">
							<h3><a href="page-product-details.html">Lorem ipsum dolor</a></h3>
						</div>
						<div class="colors">
							<span class="color-white"></span>
							<span class="color-black"></span>
							<span class="color-blue"></span>
						</div>
						<div class="price">
							$999.99
						</div>
						<div class="description">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mattis, nulla id pretium malesuada, dui est laoreet risus, ac rhoncus eros diam id odio.</p>
						</div>
						<div class="actions">
							<a href="page-product-details.html" class="btn"><i class="icon-shopping-cart icon-white"></i> Add to Cart</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="shop-item">
						<div class="image">
							<a href="page-product-details.html"><img src="img/product6.jpg" alt="Item Name"></a>
						</div>
						<div class="title">
							<h3><a href="page-product-details.html">Lorem ipsum dolor</a></h3>
						</div>
						<div class="colors">
							<span class="color-white"></span>
							<span class="color-black"></span>
						</div>
						<div class="price">
							$999.99
						</div>
						<div class="description">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mattis, nulla id pretium malesuada, dui est laoreet risus, ac rhoncus eros diam id odio.</p>
						</div>
						<div class="actions">
							<a href="page-product-details.html" class="btn"><i class="icon-shopping-cart icon-white"></i> Add to Cart</a>
						</div>
					</div>
				</div>
			</div>
			<div class="pagination-wrapper ">
				<ul class="pagination pagination-lg">
					<li class="disabled"><a href="#">Previous</a></li>
					<li class="active"><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li><a href="#">6</a></li>
					<li><a href="#">7</a></li>
					<li><a href="#">8</a></li>
					<li><a href="#">9</a></li>
					<li><a href="#">10</a></li>
					<li><a href="#">Next</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="eshop-section section">
		<div class="container">
			<h2>Listing With No Colors Information</h2>
			<div class="row">
				<div class="col-sm-4">
					<div class="shop-item">
						<div class="image">
							<a href="page-product-details.html"><img src="img/product1.jpg" alt="Item Name"></a>
						</div>
						<div class="title">
							<h3><a href="page-product-details.html">Lorem ipsum dolor</a></h3>
						</div>
						<div class="price">
							<span class="price-was">$959.99</span> $999.99
						</div>
						<div class="description">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mattis, nulla id pretium malesuada, dui est laoreet risus, ac rhoncus eros diam id odio.</p>
						</div>
						<div class="actions">
							<a href="page-product-details.html" class="btn"><i class="icon-shopping-cart icon-white"></i> Add to Cart</a> <span>or <a href="page-product-details.html">Read more</a></span>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="shop-item">
						<div class="image">
							<a href="page-product-details.html"><img src="img/product2.jpg" alt="Item Name"></a>
						</div>
						<div class="title">
							<h3><a href="page-product-details.html">Lorem ipsum dolor</a></h3>
						</div>
						<div class="price">
							$999.99
						</div>
						<div class="description">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mattis, nulla id pretium malesuada, dui est laoreet risus, ac rhoncus eros diam id odio.</p>
						</div>
						<div class="actions">
							<a href="page-product-details.html" class="btn"><i class="icon-shopping-cart icon-white"></i> Add to Cart</a> <span>or <a href="page-product-details.html">Read more</a></span>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="shop-item">
						<div class="image">
							<a href="page-product-details.html"><img src="img/product3.jpg" alt="Item Name"></a>
						</div>
						<div class="title">
							<h3><a href="page-product-details.html">Lorem ipsum dolor</a></h3>
						</div>
						<div class="price">
							$999.99
						</div>
						<div class="description">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mattis, nulla id pretium malesuada, dui est laoreet risus, ac rhoncus eros diam id odio.</p>
						</div>
						<div class="actions">
							<a href="page-product-details.html" class="btn"><i class="icon-shopping-cart icon-white"></i> Add to Cart</a> <span>or <a href="page-product-details.html">Read more</a></span>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<div class="shop-item">
						<div class="image">
							<a href="page-product-details.html"><img src="img/product4.jpg" alt="Item Name"></a>
						</div>
						<div class="title">
							<h3><a href="page-product-details.html">Lorem ipsum dolor</a></h3>
						</div>
						<div class="price">
							$999.99
						</div>
						<div class="description">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mattis, nulla id pretium malesuada, dui est laoreet risus, ac rhoncus eros diam id odio.</p>
						</div>
						<div class="actions">
							<a href="page-product-details.html" class="btn"><i class="icon-shopping-cart icon-white"></i> Add to Cart</a> <span>or <a href="page-product-details.html">Read more</a></span>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="shop-item">
						<div class="image">
							<a href="page-product-details.html"><img src="img/product5.jpg" alt="Item Name"></a>
						</div>
						<div class="title">
							<h3><a href="page-product-details.html">Lorem ipsum dolor</a></h3>
						</div>
						<div class="price">
							$999.99
						</div>
						<div class="description">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mattis, nulla id pretium malesuada, dui est laoreet risus, ac rhoncus eros diam id odio.</p>
						</div>
						<div class="actions">
							<a href="page-product-details.html" class="btn"><i class="icon-shopping-cart icon-white"></i> Add to Cart</a> <span>or <a href="page-product-details.html">Read more</a></span>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="shop-item">
						<div class="image">
							<a href="page-product-details.html"><img src="img/product6.jpg" alt="Item Name"></a>
						</div>
						<div class="title">
							<h3><a href="page-product-details.html">Lorem ipsum dolor</a></h3>
						</div>
						<div class="price">
							$999.99
						</div>
						<div class="description">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mattis, nulla id pretium malesuada, dui est laoreet risus, ac rhoncus eros diam id odio.</p>
						</div>
						<div class="actions">
							<a href="page-product-details.html" class="btn"><i class="icon-shopping-cart icon-white"></i> Add to Cart</a> <span>or <a href="page-product-details.html">Read more</a></span>
						</div>
					</div>
				</div>
			</div>
			<div class="pagination-wrapper ">
				<ul class="pagination pagination-lg">
					<li class="disabled"><a href="#">Previous</a></li>
					<li class="active"><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li><a href="#">6</a></li>
					<li><a href="#">7</a></li>
					<li><a href="#">8</a></li>
					<li><a href="#">9</a></li>
					<li><a href="#">10</a></li>
					<li><a href="#">Next</a></li>
				</ul>
			</div>
		</div>
	</div>

	<!-- Footer -->
	<div class="footer">
		<div class="container">
			<div class="row">
				<div class="col-footer col-md-3 col-xs-6">
					<h3>Our Latest Work</h3>
					<div class="portfolio-item">
						<div class="portfolio-image">
							<a href="page-portfolio-item.html"><img src="img/portfolio6.jpg" alt="Project Name"></a>
						</div>
					</div>
				</div>
				<div class="col-footer col-md-3 col-xs-6">
					<h3>Navigate</h3>
					<ul class="no-list-style footer-navigate-section">
						<li><a href="page-blog-posts.html">Blog</a></li>
						<li><a href="page-portfolio-3-columns-2.html">Portfolio</a></li>
						<li><a href="page-products-3-columns.html">eShop</a></li>
						<li><a href="page-services-3-columns.html">Services</a></li>
						<li><a href="page-pricing.html">Pricing</a></li>
						<li><a href="page-faq.html">FAQ</a></li>
					</ul>
				</div>

				<div class="col-footer col-md-4 col-xs-6">
					<h3>Contacts</h3>
					<p class="contact-us-details">
						<b>Address:</b> 123 Fake Street, LN1 2ST, London, United Kingdom<br />
						<b>Phone:</b> +44 123 654321<br />
						<b>Fax:</b> +44 123 654321<br />
						<b>Email:</b> <a href="mailto:getintoutch@yourcompanydomain.com">getintoutch@yourcompanydomain.com</a>
					</p>
				</div>
				<div class="col-footer col-md-2 col-xs-6">
					<h3>Stay Connected</h3>
					<ul class="footer-stay-connected no-list-style">
						<li><a href="#" class="facebook"></a></li>
						<li><a href="#" class="twitter"></a></li>
						<li><a href="#" class="googleplus"></a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="footer-copyright">&copy; 2013 mPurpose. All rights reserved.</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Javascripts -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/jquery-1.9.1.min.js"><\/script>')</script>
	<script src="js/bootstrap.min.js"></script>
	<script src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script>
	<script src="~/bookshop/js/jquery.fitvids.js"></script>
	<script src="~/bookshop/js/jquery.sequence-min.js"></script>
	<script src="~/bookshop/js/jquery.bxslider.js"></script>
	<script src="~/bookshop/js/main-menu.js"></script>
	<script src="~/bookshop/js/template.js"></script>


	<!-- Visual Studio Browser Link -->
	<script type="text/javascript" src="~/bookshop//_vs/browserLink" async="async" id="__browserLink_initializationData" data-requestId="0c792af731544937a8138c7986e1c7b4" data-requestMappingFromServer="false" data-connectUrl="http://localhost:49746/7b6f0c1d709340afad9d91cd28d07525/browserLink"></script>
	<!-- End Browser Link -->
	<script src="~/bookshop//_framework/aspnetcore-browser-refresh.js"></script>
</body>
</html>