@{

	Layout = "_Layout";
}


<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Admin Paneline Hoşgeldiniz</title>
	<!-- Bootstrap CSS -->
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<!-- Custom CSS -->
	<style>
		body {
			font-family: 'Arial', sans-serif;
			background-color: #f8f9fa;
		}

		.welcome-section {
			text-align: center;
			padding: 20px;
			background-color: #fff;
			box-shadow: 0 4px 8px rgba(0,0,0,0.1);
			border-radius: 8px;
			margin-top: 50px;
		}

		#welcome-image {
			width: auto;
			height: 275px;
			border-radius: 8px;
		}

		.welcome-text {
			color: #333;
			padding: 20px;
			text-align: center; /* Yazıyı ortalamak için */
			margin-top: 20px; /* Yazıyı biraz yukarı taşıyacak */
		}

			.welcome-text h1 {
				font-size: 2.5rem;
				margin-bottom: 20px;
			}

			.welcome-text p {
				font-size: 1.2rem;
				margin-bottom: 20px;
			}
	</style>
</head>
<body>
	<div class="container">
		<div class="welcome-section">
			<img id="welcome-image" src="~/dist/img/kitaplar2.jpg" alt="Admin Paneli">
		</div>
		<div class="welcome-text">
			<h1>Admin Paneline Hoşgeldiniz</h1>
			<p>Burada işlemlerinizi güvenle gerçekleştirebilirsiniz.</p>
		</div>
	</div>

	<!-- Bootstrap JS and dependencies -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
