@{
    ViewBag.Title = "Hakkımızda";
}


<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Şirketimiz Hakkında</h1>
            </div>
        </div>
    </div>
</div>

<div class="about-us" style="margin-top: 50px; margin-bottom: 20px;">

    <p>
        BurakKitap, okuma tutkunlarına geniş bir yelpazede kitaplar sunan, güvenilir ve hızlı hizmet sağlayan bir e-ticaret platformudur. Amacımız, her yaştan ve ilgi alanından okura hitap eden zengin bir koleksiyon ile okuma alışkanlığını yaygınlaştırmaktır.
    </p>
    <p>
        2010 yılında kurulan BurakKitap, kurulduğu günden bu yana müşteri memnuniyetini ön planda tutarak büyümüş ve Türkiye'nin dört bir yanındaki kitap severlere ulaşmıştır. Yenilikçi yaklaşımımız ve sürekli güncellenen ürün yelpazemizle, hem popüler hem de nadir bulunan kitapları müşterilerimizle buluşturuyoruz.
    </p>
    <p>
        Edebiyat, bilim, sanat, çocuk kitapları ve daha birçok kategoriye sahip olan BurakKitap, herkesin aradığı kitabı kolayca bulabilmesini hedeflemektedir. Ayrıca, düzenlediğimiz kampanyalar ve özel indirimlerle okurlarımıza ekonomik avantajlar sunmaktayız.
    </p>
    <p>
        Müşterilerimizin memnuniyetini en üst düzeye çıkarmak için, kullanıcı dostu web sitemiz ve mobil uygulamamız ile kolay ve keyifli bir alışveriş deneyimi sunmaktayız. Her türlü sorunuz ve ihtiyaçlarınız için 7/24 müşteri hizmetlerimizle yanınızdayız.
    </p>
    <p>
        Misyonumuz, kitapların büyülü dünyasını herkese ulaştırmak ve okuma kültürünü geniş kitlelere yaymaktır. BurakKitap ailesi olarak, siz değerli müşterilerimizin memnuniyeti bizim için her zaman en önemli öncelik olmuştur. Bu yolculukta bizimle olduğunuz için teşekkür ederiz.
    </p>
    <p>
        Gelecekte de aynı heyecan ve kararlılıkla hizmet vermeye devam edeceğiz. Sizlerin geri bildirimleri ve önerileri doğrultusunda sürekli olarak kendimizi geliştirmeyi hedefliyoruz. BurakKitap olarak, kitap okuma sevgisini artırmak ve bilgiye erişimi kolaylaştırmak adına yenilikçi çözümler üretmeye devam edeceğiz.
    </p>

</div>

<style>
    .about-us {
        font-family: Arial, sans-serif;
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        line-height: 1.6;
        color: #333;
    }

        .about-us h1 {
            text-align: center;
            color: #373A40;
            margin-bottom: 20px;
        }

        .about-us p {
            margin-bottom: 15px;
            text-align: justify;
        }
</style>
