@model CategoryViewModel



<div class="container" style="margin-top: 25px;">
    <div class="row">
        
        <div class="col-md-8">
            <form asp-action="Edit" asp-controller="Category" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="CategoryName"></label>
                    <input asp-for="CategoryName" class="form-control" placeholder="Kategori Adı" />
                    <span asp-validation-for="CategoryName" class="form-text text-danger"></span>
                </div>

                <div class="form-row">
                    <div class="form-group col">
                        <button type="submit" class="btn btn-primary btn-block">Düzenle</button>
                    </div>
                </div>

            </form>
        </div>

                
    </div>
</div>

@section Scripts {
    @Html.Partial("_ValidationScriptsPartial")
}
